// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentlefsApi from "../../../index.js";

export declare namespace DocumentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DocumentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DocumentsClient.Options>;

    constructor(options: DocumentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AgentlefsApi.ListDocumentsRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.listDocuments({
     *         location: "sales/eu"
     *     })
     */
    public listDocuments(
        request: AgentlefsApi.ListDocumentsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.DocumentList> {
        return core.HttpResponsePromise.fromPromise(this.__listDocuments(request, requestOptions));
    }

    private async __listDocuments(
        request: AgentlefsApi.ListDocumentsRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.DocumentList>> {
        const { location, type: type_, label, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            location,
            type: type_,
            label,
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                "v1/documents",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.DocumentList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents");
    }

    /**
     * Creates a document and grants your key's principal write and read access to
     * it, so you can read back what you just wrote.
     *
     * `Idempotency-Key` is required. Reusing a key with an identical body returns
     * the original outcome with `replayed: true`; reusing it with a different body
     * is a `409`.
     *
     * @param {AgentlefsApi.CreateDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.ConflictError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.createDocument({
     *         "Idempotency-Key": "Idempotency-Key",
     *         location: "handbook/onboarding/day-one.md",
     *         content: "content"
     *     })
     */
    public createDocument(
        request: AgentlefsApi.CreateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.WriteResult> {
        return core.HttpResponsePromise.fromPromise(this.__createDocument(request, requestOptions));
    }

    private async __createDocument(
        request: AgentlefsApi.CreateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.WriteResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                "v1/documents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.WriteResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentlefsApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/documents");
    }

    /**
     * Returns the document as JSON by default. Pass `download=1` to receive the raw
     * file instead — the stored body for a text document, or the original bytes for a
     * binary asset — with a `Content-Disposition: attachment` filename, suitable for
     * saving to disk. The reach that governs the JSON read governs the download.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     */
    public retrieveDocument(
        request: AgentlefsApi.RetrieveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveDocument(request, requestOptions));
    }

    private async __retrieveDocument(
        request: AgentlefsApi.RetrieveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { location, offset, download } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            download: download != null ? download : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                `v1/documents/${core.url.encodePathParam(location)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/documents/{location}");
    }

    /**
     * `If-Match` is required. Send the `ETag` from a read, or the one the last
     * write returned, to update only if the document has not changed since — or `*`
     * to overwrite unconditionally.
     *
     * @param {AgentlefsApi.UpdateDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.ConflictError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.updateDocument({
     *         "If-Match": "If-Match",
     *         location: "handbook/onboarding/day-one.md",
     *         content: "content"
     *     })
     */
    public updateDocument(
        request: AgentlefsApi.UpdateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.WriteResult> {
        return core.HttpResponsePromise.fromPromise(this.__updateDocument(request, requestOptions));
    }

    private async __updateDocument(
        request: AgentlefsApi.UpdateDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.WriteResult>> {
        const { location, "If-Match": ifMatch, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "If-Match": ifMatch }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                `v1/documents/${core.url.encodePathParam(location)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.WriteResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentlefsApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/documents/{location}");
    }

    /**
     * Requires `manager` on the document, a higher bar than updating it. A delete is
     * the one operation with no inverse: an update leaves the prior version in
     * history and a rename relocates content that still exists, but a delete ends
     * the object.
     *
     * `If-Match` is required, for the same reason as on update.
     *
     * @param {AgentlefsApi.DeleteDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.ConflictError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.deleteDocument({
     *         "If-Match": "If-Match",
     *         location: "handbook/onboarding/day-one.md"
     *     })
     */
    public deleteDocument(
        request: AgentlefsApi.DeleteDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.DeleteResult> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDocument(request, requestOptions));
    }

    private async __deleteDocument(
        request: AgentlefsApi.DeleteDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.DeleteResult>> {
        const { location, "If-Match": ifMatch } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "If-Match": ifMatch }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                `v1/documents/${core.url.encodePathParam(location)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.DeleteResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentlefsApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/documents/{location}");
    }

    /**
     * Renames without relocating. `from` is the whole location being renamed; `name`
     * is the new NAME, never a path: a name may not contain a slash, because a slash
     * would manufacture an intermediate folder and that folder would be a permission
     * scope. Use `POST /v1/moves` to relocate.
     *
     * Authorization is stricter than a write. The whole subtree under `from` must
     * be yours to change, including any part of it you cannot see, for the same
     * reason delete is all-or-nothing: renaming what you cannot read is acting on
     * what you cannot read.
     *
     * A rename that changes who can reach the content is refused unless
     * acknowledged. See `POST /v1/moves` for how that works, since it is the same
     * gate.
     *
     * @param {AgentlefsApi.RenameDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.ConflictError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.renameDocument({
     *         "Idempotency-Key": "Idempotency-Key",
     *         from: "handbook/onboarding/day-one.md",
     *         name: "day-1.md"
     *     })
     */
    public renameDocument(
        request: AgentlefsApi.RenameDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.MoveResult> {
        return core.HttpResponsePromise.fromPromise(this.__renameDocument(request, requestOptions));
    }

    private async __renameDocument(
        request: AgentlefsApi.RenameDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.MoveResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                "v1/renames",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.MoveResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentlefsApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/renames");
    }

    /**
     * Restores exactly what one delete removed, at the version it had, with its
     * sharing intact.
     *
     * Deleting does not destroy anything. A document's head moves to a commit that
     * records the deletion, so the content, its history, its comments and the grants
     * on it are all still attached to the same document — undoing moves the head
     * back. Nothing is reassembled and nothing is copied.
     *
     * `location` is whatever was deleted: a document, a directory, or a whole
     * folder. One delete is one batch however deep it went, so undoing a folder
     * restores the folder and everything that was in it.
     *
     * ## What "the last delete" means
     *
     * Deletes performed at different moments are different batches. Undoing restores
     * the most recent one at this location, not everything ever deleted here.
     *
     * Undoing twice is harmless: the second call finds nothing left to restore and
     * reports `restored: 0`. A location that never had a delete is a `404`.
     *
     * ## Two cases it will not resurrect
     *
     * A document that was **written over** after being deleted is not restored — the
     * content at that path is a newer version of the same document, and an undo must
     * never replace live content with a version somebody deleted.
     *
     * A document deleted before it ever had content has no version to become current
     * again. Those are counted in `unrestorable` rather than silently skipped.
     *
     * Authorized as the delete it reverses: an undo makes content visible again, so
     * it requires the same right that removing it did.
     *
     * @param {AgentlefsApi.UndeleteAtLocationRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.undeleteAtLocation({
     *         "Idempotency-Key": "Idempotency-Key",
     *         location: "handbook/onboarding/day-one.md"
     *     })
     */
    public undeleteAtLocation(
        request: AgentlefsApi.UndeleteAtLocationRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.UndeleteAtLocationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__undeleteAtLocation(request, requestOptions));
    }

    private async __undeleteAtLocation(
        request: AgentlefsApi.UndeleteAtLocationRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.UndeleteAtLocationResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                "v1/undeletes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentlefsApi.UndeleteAtLocationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/undeletes");
    }

    /**
     * Relocates content between folders. Authorized on both sides: the source
     * subtree must be yours to change (all of it, including parts you cannot see),
     * and you must be able to write at the destination. Without the destination
     * half, a move would be a way to place content into a folder you could not
     * otherwise write to.
     *
     * ## Moves can change who can see things
     *
     * Access follows the path here, so relocating content can widen or narrow who
     * reaches it. A move that WIDENS access is refused with `409` and a report of
     * what would change. Re-send with `acknowledge_access_change: true` once that
     * change has been reviewed.
     *
     * Two distinct refusals, told apart by the `acknowledgeable` field rather than
     * by the status code:
     *
     * - `acknowledgeable: true` means you may proceed once you have reviewed the
     *   change.
     * - `acknowledgeable: false` means widening here would be a grant you are not
     *   permitted to make at the destination. No acknowledgement will help; you
     *   need access granted at the destination first.
     *
     * A narrowing move is reported but never gated: taking access away is not the
     * direction that needs a second opinion.
     *
     * The reported subjects are bounded by what your own credential can already
     * discover. Counts of subjects you cannot see are not included.
     *
     * @param {AgentlefsApi.MoveDocumentRequest} request
     * @param {DocumentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentlefsApi.BadRequestError}
     * @throws {@link AgentlefsApi.UnauthorizedError}
     * @throws {@link AgentlefsApi.NotFoundError}
     * @throws {@link AgentlefsApi.ConflictError}
     * @throws {@link AgentlefsApi.TooManyRequestsError}
     * @throws {@link errors.AgentlefsApiError}
     * @throws {@link errors.AgentlefsApiTimeoutError}
     *
     * @example
     *     await client.documents.moveDocument({
     *         "Idempotency-Key": "Idempotency-Key",
     *         from: "drafts/q3-plan.md",
     *         to: "handbook/planning/q3-plan.md"
     *     })
     */
    public moveDocument(
        request: AgentlefsApi.MoveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentlefsApi.MoveResult> {
        return core.HttpResponsePromise.fromPromise(this.__moveDocument(request, requestOptions));
    }

    private async __moveDocument(
        request: AgentlefsApi.MoveDocumentRequest,
        requestOptions?: DocumentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentlefsApi.MoveResult>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentlefsApiEnvironment.Production,
                "v1/moves",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentlefsApi.MoveResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentlefsApi.BadRequestError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new AgentlefsApi.UnauthorizedError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new AgentlefsApi.NotFoundError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new AgentlefsApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new AgentlefsApi.TooManyRequestsError(
                        _response.error.body as AgentlefsApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentlefsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/moves");
    }
}
